<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" bootstrap="tests/bootstrap.php"
         colors="true" cacheDirectory="var/cache/.phpunit.cache">
    <coverage/>
    <testsuites>
        <testsuite name="Project test suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Router">
            <directory>tests/Router</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
